.photofeed{
  position: fixed;
}

.feed{
  z-index: -1;
}
.head{
  font-family: cursive;
  text-align: center;
  font-size: 60px;
 
}
body{
  background-color:  rgb(19, 129, 156);
  
}

.eachimage:hover{
  border-radius: 5px;
  /* opacity: 0.7; */
  cursor: pointer;
  position: relative;
  top:10px;
  -webkit-filter: brightness(120%);
}

.imagemodal{
  background-color: gray;
  position: fixed;
  left: 27%;
  height: 70%;
  width: 700px;
  z-index: 1;

}

.cancel{
  position: fixed;
  left: 65%;
  top: 30%;
  color: black;
  cursor: pointer;
  z-index: 3;
}
.cls {
  width: 10%;
  cursor: pointer;
}
.right {
  transform: rotate(180deg);
  cursor: pointer;
  position: relative;
  left: 40%;
  top: 230px;
}
.left{
  position: relative;
  right: 15%;
  top: 300px;
}
/* .right1{
  position: relative;
  top: px;
}
.left1{
  position: relative;
  top: 50%;
} */
/* .rightarrow{
  position: fixed;
} */
.foreachimage{
  width: 35%;
  position: relative;
  bottom: 40px;
}
.modeldiv{
  position: relative;
  left: 33%;
}
.arrows{
  position: fixed;
}


.grid {
  --gap: 1em;
  --columns: 5;
  max-width: 100rem;
  display: column;
  columns: var(--columns);
  gap: var(--gap);
}
.grid > * {
  break-inside: avoid;
  margin-bottom: var(--gap);
}
@supports (grid-template-rows: masonry) {
  .grid {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: masonry;
    grid-auto-flow: dense;
  }
  .grid > * {
    margin-bottom: 0em;
  }
}
.featured {
  grid-column: span 2;
}
.grid {
  --gap: 1.5em;
  --columns: 5;
  padding-top: 60px;
  max-width: 70rem;
  margin: 0 auto;
  display: column;
  columns: var(--columns);
  gap: var(--gap);
}
.grid > * {
  break-inside: avoid;
  margin-bottom: var(--gap);
}
@supports (grid-template-rows: masonry) {
  .grid {
    display: grid;
    grid-template-columns: repeat(var(--columns), 3fr);
    grid-template-rows: masonry;
    grid-auto-flow: dense;
    /* align-tracks: stretch; */
  }
  .grid > * {
    margin-bottom: 0em;
  }
}
.featured {
  grid-column: span 3;
}

